body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    background-color: #f9f9f9;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    z-index: 100;
}

.header-left {
    display: flex;
    align-items: center;
}

.menu-icon {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
}

.youtube-logo {
    height: 20px;
    cursor: pointer;
}

.search-bar {
    flex: 1;
    margin-left: 70px;
    margin-right: 70px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar input {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px ;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}

.search-bar input::placeholder {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
}

.search-button {
    width: 60px;
    height: 40px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    margin-left: -1px;
    margin-right: 10px;
    border-radius: 25px;
    cursor: pointer;
}

.search-button img {
    height: 24px;
}

.voice-search-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #f8f8f8;
    cursor: pointer;
}

.voice-search-button img {
    height: 24px;
}

.header-right {
    width: 200px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.header-right img {
    height: 24px;
    cursor: pointer;
}

.user-avatar {
    height: 32px;
    border-radius: 50%;
}

.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link {
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: #eee;
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 5px;
}

.sidebar-link p {
    font-family: Roboto, Arial, sans-serif;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

main {
    background-color: #f9f9f9;
    padding-left: 24px;
    padding-right: 24px;
}

.tags-container {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 20px;
}

.tags-container::-webkit-scrollbar {
    display: none;
}

.tag {
    margin-right: 10px;
    padding: 10px 12px;
    border: none;
    border-radius: 10px;
    background-color: #eee;
    color: black;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    flex-shrink: 0;
}

.tag:hover {
    background-color: #ddd;
}

.tag.active {
    background-color: black;
    color: white;
}

.videos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 750px) {
    .videos-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .videos-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .videos-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.thumbnail {
    width: 100%;
    border-radius: 10px;
}

.video-time {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    padding: 4px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-picture {
    margin-top: 8px;
}

.profile-picture {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
}

.video-info {
    margin-left: 8px;
}

.video-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: #606060;
    cursor: pointer;
}

.video-author {
    margin-bottom: 4px;
}

.shorts-container {
    margin-top: 40px;
}

.shorts-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.shorts-icon-title {
    height: 24px;
    margin-right: 8px;
}

.shorts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 15px;
}

.short-preview {
    cursor: pointer;
}

.short-thumbnail-row {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    height: 180px;
}

.short-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    vertical-align: top;
}


.short-video-info {
    margin-top: 8px;
}

.short-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 4px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.short-author {
    font-size: 12px;
    color: #606060;
}
